<section id="section_skills" class="px-4 py-5">
  <h2 class="pb-2 border-bottom mt-4">
    Habilidades Duras y Blandas
    <app-btn-agregar></app-btn-agregar>
  </h2>

  <div *ngFor="let habilidad of portfolio.habilidades" class="row g-4 py-3 row-cols-1 row-cols-lg">
    <h5>
      {{habilidad.titulo}}
      <app-btn-editar-eliminar></app-btn-editar-eliminar>
    </h5>

    <div class="progress">
      <div
        class="progress-bar progress-bar-striped"
        role="progressbar"
        [style.width.%]="habilidad.valor"
        [attr.aria-valuenow]="habilidad.valor"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</section>
