<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav"
aria-controls="navbarNav"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon"></span>
</button>
<footer id="section_contacto"class="row py-3 my-3 ml-3 border-top justify-content-center">

    <div class=" row justify-content-between">
      <div class="col-8">
        <ul class="navbar-nav flex-column text-left" >
          <li class="nav-item mb-2" *ngIf="persona.email">
            <a
              href="mailto:{{ persona.email }}"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-solid fa-envelope"></i>
              {{ persona.email }}</a
            >
          </li>
          <li class="nav-item mb-2" *ngIf="persona.telefono">
            <a
              href="https://wa.me/{{ persona.telefono }}"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-brands fa-whatsapp"></i>
              {{ persona.telefono }}</a
            >
          </li>
          <li class="nav-item mb-2" *ngIf="persona.ubicacion">
            <a
              href="https://www.google.com/maps/search/?api=1&query={{ persona.ubicacion }}"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-solid fa-location-dot"></i>
              {{ persona.ubicacion }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-4">
        <img
          _ngcontent-rsr-c17=""
          src="../assets/images/APLogo-20-20.png"
          alt="Logo"
          height="30"
          class="float-end"
        />
      </div>
    </div>
</footer>
