<button
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav"
aria-controls="navbarNav"
aria-expanded="false"
aria-label="Toggle navigation"
>
<span class="navbar-toggler-icon"></span>
</button>
<footer id="section_contacto"class="row py-3 my-3 ml-3 border-top justify-content-center">

    <div class=" row justify-content-between">
      <div class="col-3">
        <ul class="navbar-nav flex-column text-left">
          <li class="nav-item mb-2">
            <a
              href="mailto:nasellimariana@gmail.com"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-solid fa-envelope"></i>
              {{ portfolio.contacto.mail }}</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              href="https://wa.me/+5493517437212"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-brands fa-whatsapp"></i>
              {{ portfolio.contacto.tel }}</a
            >
          </li>
          <li class="nav-item mb-2">
            <a
              href="https://www.google.com.ar/maps/place/C%C3%B3rdoba/@-31.399084,-64.334431,11z/data=!3m1!4b1!4m5!3m4!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761"
              target="_blank"
              class="nav-link p-0"
            >
              <i class="fa-solid fa-location-dot"></i>
              {{ portfolio.contacto.ciudad }}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-3">
        <img
          _ngcontent-rsr-c17=""
          src="../assets/images/APLogo-20-20.png"
          alt="Logo"
          height="30"
          class="float-end"
        />
      </div>
    </div>
</footer>
