<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="irASeccion('inicio')">
        <img
          src="../assets/images/logo.png"
          alt="Logo"
          height="30"
          class="d-inline-block align-text-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" #navbar>
        <ul class="navbar-nav" *ngIf="portfolio">
          <li
            class="nav-item"
            *ngIf="portfolio && portfolio.persona.uuid !== ''"
          >
            <a class="nav-link" (click)="irASeccion('inicio')">Inicio</a>
          </li>

          <li class="nav-item" *ngFor="let seccion of portfolio.secciones">
            <a class="nav-link" (click)="irASeccion(seccion.nombre_seccion)">{{
              seccion.nombre_seccion
            }}</a>
          </li>
          <li
            class="nav-item"
            *ngIf="portfolio && portfolio.persona.uuid !== ''"
          >
            <a class="nav-link" (click)="irASeccion('contacto')">Contacto</a>
          </li>
        </ul>

        <ul class="navbar-nav flex-wrap ms-md-auto">
          <li class="nav-item" *ngIf="portfolio && portfolio.persona.urlLinkedin">
            <a
              href="{{ portfolio.persona.urlLinkedin }}"
              target="_blank"
              class="nav-link"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>

          <li class="nav-item" *ngIf="portfolio && portfolio.persona.urlGithub">
            <a
              href="{{ portfolio.persona.urlGithub }}"
              target="_blank"
              class="nav-link"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </li>

          <li class="nav-item" *ngIf="portfolio && portfolio.persona.urlInstagram">
            <a
              href="{{ portfolio.persona.urlInstagram }}"
              target="_blank"
              class="nav-link"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>

          <li class="nav-item" *ngIf="!isLoggedIn">
            <a
              class="nav-link"
              href="javascript:void(0);"
              (click)="openModalLogin(modalLogin)"
            >
              Ingresar
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ userData.nombre }} {{ userData.apellido }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0);"
                  (click)="openModalUser()"
                  >Mi Perfil</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<ng-template #modalLogin>
  <app-modal-login (OnCloseModal)="cerrarModalLogin()"></app-modal-login>
</ng-template>

<!-- Modal User -->
<ng-template #modalUser>
  <app-modal-user
    [userData]="userData"
    (OnCloseModal)="cerrarModalUser()"
  ></app-modal-user>
</ng-template>


<!-- <ng-template #modalPersona>
  <app-modal-persona (OnCloseModal)="cerrarModalPersona()"></app-modal-persona>
</ng-template> -->
