<section id="inicio" class="px-4 pt-5">
  <div class="row g-0 row mb-4 -sm h-md-250 position-relative">
    <div class="col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-5">
          <img
            [src]="portfolio.persona.urlFoto"
            class="bd-placeholder-img rounded-circle img-responsive-custom"
            alt="Foto de Perfil"
            loading="lazy"
            (click)="openModalFoto(modalFoto)"
            style="cursor: pointer"
          />
        </div>
        <div class="col-lg-7">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            {{ portfolio.persona.titulo }}
            <h2>
              {{ portfolio.persona.nombre + " " + portfolio.persona.apellido }}
            </h2>
          </h1>
          <p class="lead text-break">
            {{ portfolio.persona.descripcion }}
          </p>
          <a
            href="javascript:void(0);"
            *ngIf="puedeEditar"
            class="btn btn-primary btn-sm float-start"
            (click)="openModalPersona(modalPersona)"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modalPersona>
  <app-modal-persona (OnCloseModal)="cerrarModalPersona()"></app-modal-persona>
</ng-template>

<!-- Modal Foto -->
<ng-template #modalFoto>
  <div class="modal-header">
    <h5 class="modal-title">Cambiar foto de perfil</h5>
    <button
      type="button"
      class="btn-close"
      (click)="cerrarModal()"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="subirFoto()" #formFoto="ngForm">
      <div class="mb-3">
        <label for="foto" class="form-label">Seleccionar nueva foto</label>
        <input
          type="file"
          class="form-control"
          id="foto"
          (change)="fileChangeEvent($event)"
          accept="image/*"
        />
      </div>

      <!-- Componente para recortar la imagen -->
      <image-cropper
        #imageCropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1"
        [roundCropper]="true"
        [resizeToWidth]="400"
        [cropperMinWidth]="100"
        [cropperMinHeight]="100"
        [imageQuality]="0.9"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>

      <!-- <div class="mt-3">
          <button class="btn btn-outline-primary" (click)="zoomIn()">Acercar</button>
          <button class="btn btn-outline-secondary" (click)="zoomOut()">Alejar</button>
        </div> -->
      <!-- Mostrar la imagen recortada -->
      <!-- <div *ngIf="croppedImage">
        <img
          [src]="croppedImage"
          class="img-thumbnail mt-3"
          alt="Imagen Recortada"
        />
      </div> -->

      <button type="submit" class="btn btn-primary" [disabled]="!croppedImage">
        Subir foto
      </button>
    </form>
  </div>
</ng-template>
