.img-responsive-custom {
  max-width: 100%;
}

@media (min-width: 992px) {
  .img-responsive-custom {
    max-width: 75%;
  }
}

.modal-body image-cropper {
  max-height: 450px; /* Tamaño máximo del área de recorte */
  overflow: hidden;
}

