<main class="container">
<section id="section_educación">
  <div class="px-4 pt-5">
    <h2 class="pb-2 border-bottom mt-4">
      Educación Académica
      <a
        href="#"
        class="btn btn-secondary btn-sm float-end"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        ><i class="fa-solid fa-plus"></i
      ></a>
    </h2>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a
          href="#"
          class="btn btn-danger btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a
          href="#"
          class="btn btn-primary btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary"
          >Argentina Programa</strong
        >
        <h3 class="mb-0">
          Segunda Etapa Plan Argentina Programa:#YoProgramo
        </h3>
        <div class="mb-1 text-muted">Enero 2023</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a
          href="#"
          class="btn btn-danger btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a
          href="#"
          class="btn btn-primary btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary"
          >Argentina Programa</strong
        >
        <h3 class="mb-0">
          Primera Etapa Plan Argentina Programa:#SéProgramar
        </h3>
        <div class="mb-1 text-muted">Abril 2022</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a
          href="#"
          class="btn btn-danger btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a
          href="#"
          class="btn btn-primary btn-sm float-end"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso Programación Básica</h3>
        <div class="mb-1 text-muted">Marzo 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso Básico de JavaScript</h3>
        <div class="mb-1 text-muted">Junio 2022</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso HTML y CSS</h3>
        <div class="mb-1 text-muted">Junio 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso FrontEnd Developer</h3>
        <div class="mb-1 text-muted">Febrero 2022</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">
          Curso de Introducción a la Terminal y Línea de Comandos
        </h3>
        <div class="mb-1 text-muted">Noviembre 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso Práctico de HTML y CSS</h3>
        <div class="mb-1 text-muted">Junio 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso Profesional de Git y GitHub</h3>
        <div class="mb-1 text-muted">Diciembre 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Curso Profesional de Scrum</h3>
        <div class="mb-1 text-muted">Julio 2022</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary">Platzi</strong>
        <h3 class="mb-0">Fundamentos de Ingeniería de Software</h3>
        <div class="mb-1 text-muted">Noviembre 2021</div>
        <a href="#" class="stretched-link">Certificación</a>
      </div>
    </div>
  </div>
</section>
</main>
