<section id="section_idiomas" class="px-4 py-5">
  <h2 class="pb-2 border-bottom mt-4">
    Idiomas
    <app-btn-agregar></app-btn-agregar>
  </h2>

  <div
    *ngFor="let idioma of portfolio.idiomas"
    class="row p-4 g-4 py-3 row-cols-1 row-cols-lg"
  >
    <h5>
      {{ idioma.idioma }}
      <app-btn-editar-eliminar></app-btn-editar-eliminar>
    </h5>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="idioma.nivel"
        [attr.aria-valuenow]="idioma.nivel"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</section>
