<div class="modal-header">
  <h4 class="modal-title">{{ persona.nombre }} {{ persona.apellido }}</h4>
  <button type="button" aria-label="Close" (click)="cerrarModal()" class="btn-close"></button>
</div>
<div class="modal-body">
  <form #personaForm="ngForm">
    <div class="row">
      <div class="col mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          required
          [(ngModel)]="persona.nombre"
          #nombreField="ngModel"
        />
        <div *ngIf="nombreField.invalid && nombreField.touched" class="text-danger">
          El campo es obligatorio.
        </div>
      </div>
      <div class="col mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          name="apellido"
          required
          [(ngModel)]="persona.apellido"
          #apellidoField="ngModel"
        />
        <div *ngIf="apellidoField.invalid && apellidoField.touched" class="text-danger">
          El campo es obligatorio.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          required
          [(ngModel)]="persona.titulo"
          #tituloField="ngModel"
        />
        <div *ngIf="tituloField.invalid && tituloField.touched" class="text-danger">
          El campo es obligatorio.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          class="form-control"
          id="descripcion"
          rows="3"
          name="descripcion"
          required
          [(ngModel)]="persona.descripcion"
        ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          required
          [(ngModel)]="persona.email"
        />
      </div>
      <div class="col mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="telefono"
          name="telefono"
          required
          [(ngModel)]="persona.telefono"

        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="ubicacion" class="form-label">Ubicación</label>
        <input
          type="text"
          class="form-control"
          id="ubicacion"
          name="ubicacion"
          required
          [(ngModel)]="persona.ubicacion"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="urlGithub" class="form-label">Url GitHub</label>
        <input
          type="text"
          class="form-control"
          id="urlGithub"
          name="urlGithub"
          required
          [(ngModel)]="persona.urlGithub"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="urlLinkedin" class="form-label">Url LinkedIn</label>
        <input
          type="text"
          class="form-control"
          id="urlLinkedin"
          name="urlLinkedin"
          required
          [(ngModel)]="persona.urlLinkedin"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="urlInstagram" class="form-label">Url Instagram</label>
        <input
          type="text"
          class="form-control"
          id="urlInstagram"
          name="urlInstagram"
          required
          [(ngModel)]="persona.urlInstagram"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label for="urlFoto" class="form-label">Url Foto de Perfil</label>
        <input
          type="text"
          class="form-control"
          id="urlFoto"
          name="urlFoto"
          required
          [(ngModel)]="persona.urlFoto"
        />
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">
    Cerrar
  </button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="guardando || personaForm.invalid"
    (click)="guardarCambios()"
  >
    Guardar cambios
  </button>
</div>
