<section id="section_proyectos" class="px-4 py-5">
  <h2 class="pb-2 border-bottom mt-4">
    Proyectos
    <app-btn-agregar></app-btn-agregar>
  </h2>
  <div
    *ngFor="let proyecto of portfolio.proyectos"
    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
  >
    <div class="col p-4 flex-column position-static">

      <app-btn-editar-eliminar></app-btn-editar-eliminar>

      <strong class="d-inline-block mb-2 text-primary">{{
        proyecto.titulo
      }}</strong>
      <h3 class="mb-0">{{ proyecto.nombre }}</h3>
      <div class="mb-1 text-muted">{{ proyecto.periodo }}</div>
      <p class="card-text mb-auto">
        {{ proyecto.descripcion }}
      </p>
      <a
        *ngIf="proyecto.url"
        [href]="proyecto.url"
        target="_blank"
        >{{ proyecto.enlace }}</a
      >
    </div>
  </div>
</section>
