<main class="container">
<section id="section_proyectos">
  <div class="px-4 py-5">
    <h2 class="pb-2 border-bottom">
      Proyectos
      <a href="#" class="btn btn-secondary btn-sm float-end"
        ><i class="fa-solid fa-plus"></i
      ></a>
    </h2>
    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>

        <strong class="d-inline-block mb-2 text-primary"
          >Argentina Programa</strong
        >
        <h3 class="mb-0">Aplicación Web</h3>
        <div class="mb-1 text-muted">Enero 2023</div>
        <p class="card-text mb-auto">
          Portfolio Web Full Stack: aplicación de arquitectura distribuida,
          diseño de interfaz de usuario y base de datos que cuenta con las
          APIs necesarias. Este proyecto es parte de la segunda etapa del Plan
          Argentina Programa: #YoProgramo
        </p>
        <a href="#" class="stretched-link">Proyecto</a>
      </div>
    </div>

    <div
      class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
      <div class="col p-4 flex-column position-static">
        <a href="#" class="btn btn-danger btn-sm float-end"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
        <a href="#" class="btn btn-primary btn-sm float-end"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <strong class="d-inline-block mb-2 text-primary"
          >Sen Contrucciones</strong
        >
        <h3 class="mb-0">Landing Page</h3>
        <div class="mb-1 text-muted">Agosto 2021</div>
        <p class="card-text mb-auto">Descripción...</p>
        <a href="#" class="stretched-link">Proyecto</a>
      </div>
    </div>
  </div>
</section>
</main>
