<section class="px-4 pt-5 mt-5" *ngIf="!loading && portfolio === null">
  <div class="row g-0 row mb-4 -sm h-md-250 position-relative">
    <div class="alert alert-warning">
      Portfolio no encontrado
    </div>
  </div>
</section>

<div *ngIf="!loading && portfolio !== null && portfolio?.persona?.uuid !== ''">
  <app-perfil [portfolio]="portfolio"></app-perfil>
  <app-secciones [portfolio]="portfolio"></app-secciones>
  <app-contacto [portfolio]="portfolio"></app-contacto>
</div>

<div *ngIf="loading">
  <app-loading></app-loading>
</div>
