<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/images/APLogo-20-20.png"
          alt="Logo"
          height="30"
          class="d-inline-block align-text-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" #navbar>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="cerrarMenu()">Inicio</a>
          </li>
          <li class="nav-item"  *ngFor="let seccion of portfolio.secciones">
            <a class="nav-link" (click)="cerrarMenu()" href="#section_{{ seccion.codigo_seccion }}">{{seccion.nombre_seccion}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section_contacto" (click)="cerrarMenu()">Contacto</a>
          </li>
        </ul>

        <ul class="navbar-nav flex-wrap ms-md-auto">

          <li class="nav-item" *ngIf="portfolio.persona.urlLinkedin">
            <a
              href="{{ portfolio.persona.urlLinkedin }}"
              target="_blank"
              class="nav-link"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>

          <li class="nav-item" *ngIf="portfolio.persona.urlGithub">
            <a href="{{ portfolio.persona.urlGithub }}" target="_blank" class="nav-link">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>

          <li class="nav-item" *ngIf="portfolio.persona.urlInstagram">
            <a
              href="{{ portfolio.persona.urlInstagram }}"
              target="_blank"
              class="nav-link"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a
              class="nav-link"
              href="javascript:void(0);"
              (click)="openModalLogin(modalLogin); cerrarMenu();"
            >
              Ingresar
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ portfolio.persona.nombre }} {{ portfolio.persona.apellido }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  href="javascript:void(0);"
                  (click)="openModalPersona(modalPersona); cerrarMenu();"
                  >Editar perfil</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#" (click)="logout(); cerrarMenu();"
                  >Cerrar Sesión</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<ng-template #modalLogin>
  <app-modal-login (OnCloseModal)="cerrarModalLogin()"></app-modal-login>
</ng-template>

<ng-template #modalPersona>
  <app-modal-persona (OnCloseModal)="cerrarModalPersona()"></app-modal-persona>
</ng-template>
