<section id="section_banner" class="px-4 pt-5">
  <div class="row g-0 row mb-4 -sm h-md-250 position-relative">
    <div class="col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-5">
          <img
            [src]="persona.urlFoto"
            class="bd-placeholder-img rounded-circle"
            alt="Foto de Perfil"
            width="350"
            height="350"
            loading="lazy"
          />
        </div>

        <div class="col-lg-7">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            <button
              class="btn btn-primary btn-sm float-end"
              (click)="openModal(modalPersona)"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            {{ persona.titulo }}
            <h2>{{ persona.nombre + " " + persona.apellido }}</h2>
          </h1>
          <p class="lead text-break">
            {{ persona.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  #modalPersona
  tabindex="-1"
  aria-labelledby="exampleModalPersona"
  aria-hidden="true"
  backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ persona.nombre }} {{ persona.apellido }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              required
              [(ngModel)]="persona.nombre"
            />
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              required
              [(ngModel)]="persona.apellido"
            />
          </div>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input
              type="text"
              class="form-control"
              id="titulo"
              name="titulo"
              required
              [(ngModel)]="persona.titulo"
            />
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
              class="form-control"
              id="descripcion"
              rows="3"
              name="descripcipcion"
              required
              [(ngModel)]="persona.descripcion"
            ></textarea>
          </div>
          <!-- Agrega aquí los demás campos -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="guardarCambios(modalPersona)"
        >
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>
