<div class="container">
  <!-- Encabezado con margen inferior -->
  <div class="row mb-4">
    <div class="col">
      <h1>Tu Portafolio</h1>
    </div>
  </div>

  <div class="container">
    <!-- Barra de búsqueda -->
    <div class="row mb-4">
      <div class="col">
        <input 
          type="text" 
          class="form-control" 
          placeholder="Buscar por nombre, apellido o título" 
          [(ngModel)]="searchQuery" 
          (input)="applyFilter()"
        />
      </div>
    </div>
  
    <!-- Tarjetas filtradas -->
    <div class="row row-cols-1 row-cols-md-4 row-cols-lg-5 g-4 mt-4">
      <div class="col" *ngFor="let portfolio of filteredPortfolios">
        <div class="card mb-4" style="max-width: 250px;">
          <img 
            [src]="portfolio.urlFoto || 'assets/images/profile.jpg'" 
            class="card-img-top rounded-circle" 
            alt="{{ portfolio.nombre }}" 
            style="width: 120px; height: 120px; object-fit: cover; margin: auto; margin-top: 16px;"
          >
          <div class="card-body text-center">
            <h5 class="card-title">{{ portfolio.nombre }} {{ portfolio.apellido }}</h5>
            <p class="card-text">{{ portfolio.titulo }}</p>
            <a [routerLink]="['/portfolio', portfolio.uuid]" class="btn btn-primary">Ver Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




